ul li {
    font-size: 0.7em;
}

.seven {
    font-size: 0.7em !important;
}

.seven li {
    font-size: 0.7em;
}

.eight {
    font-size: 0.7em !important;
}

.eight li {
    font-size: 0.7em;
}
. nine {
    font-size: 0.7em;!important
}
.nine li{
    font-size:0.7em;
}
